<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="QualityEclipse"
            id="com.qualityeclipse.favorites">
      </category>
      <view
            name="Favorites"
            icon="icons/sample.gif"
            category="com.qualityeclipse.favorites"
            class="com.qualityeclipse.favorites.views.FavoritesView"
            id="com.qualityeclipse.favorites.views.FavoritesView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.qualityeclipse.favorites.workbenchActionSet"
            label="Favorites ActionSet"
            visible="true">
         <menu
               id="com.qualityeclipse.favorites.workbenchMenu"
               label="Fa&amp;vorites"
               path="additions">
            <groupMarker
                  name="content">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
         </menu>
         <action
               class="com.qualityeclipse.favorites.actions.OpenFavoritesViewActionDelegate"
               hoverIcon="icons/sample.gif"
               icon="icons/sample.gif"
               id="com.qualityeclipse.favorites.openFavoritesView"
               label="Open Favo&amp;rites View"
               menubarPath="com.qualityeclipse.favorites.workbenchMenu/content"
               style="push"
               toolbarPath="Normal/additions"
               tooltip="Open the favorites view in the current workbench page">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.qualityeclipse.favorites.popupMenu"
            objectClass="org.eclipse.core.resources.IResource">
         <action
               class="com.qualityeclipse.favorites.actions.AddToFavoritesActionDelegate"
               enablesFor="+"
               icon="icons/sample.gif"
               id="com.qualityeclipse.favorites.addToFavorites"
               label="Add"
               menubarPath="com.qualityeclipse.favorites.popupSubMenu/content"
               tooltip="Add the selected resource(s) to the Favorites view">
         </action>
         <menu
               id="com.qualityeclipse.favorites.popupSubMenu"
               label="Favorites"
               path="additions">
            <groupMarker
                  name="content">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
         </menu>
      </objectContribution>
      <viewerContribution
            id="com.qualityeclipse.favorites.membersViewPopup"
            targetID="org.eclipse.jdt.ui.MembersView">
         <menu
               id="com.qualityeclipse.favorites.membersViewPopupSubMenu"
               label="Favorites"
               path="additions">
            <groupMarker
                  name="content">
            </groupMarker>
            <separator
                  name="addition">
            </separator>
         </menu>
         <action
               class="com.qualityeclipse.favorites.actions.AddToFavoritesActionDelegate"
               icon="icons/sample.gif"
               id="com.qualityeclipse.favorites.addToFavoritesInMembersView"
               label="Add"
               menubarPath="com.qualityeclipse.favorites.membersViewPopupSubMenu/content"
               tooltip="Add selected member&apos;s compilation unit to the Favorites view">
         </action>
      </viewerContribution>
      <viewerContribution
            id="com.qualityeclipse.favorites.compilationUnitEditorPopup"
            targetID="#CompliationUnitEditorContext">
         <menu
               id="com.qualityeclipse.favorites.compilationUnitEditorPopupSubMenu"
               label="Favorites"
               path="additions">
            <separator
                  name="additions">
            </separator>
            <groupMarker
                  name="content">
            </groupMarker>
         </menu>
         <action
               class="com.qualityeclipse.favorites.actions.AddToFavoritesActionDelegate"
               icon="icons/sample.gif"
               id="com.qualityeclipse.favorites.addToFavoritesInCompilationUnitEditor"
               label="Add"
               menubarPath="com.qualityeclipse.favorites.compilationUnitEditorPopupSubMenu/content">
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="com.qualityeclipse.favorites.membersViewAction"
            targetID="org.eclipse.jdt.ui.MembersView">
         <action
               class="com.qualityeclipse.favorites.actions.AddToFavoritesActionDelegate"
               icon="icons/sample.gif"
               id="com.qualityeclipse.favorites.addToFavoritesInMembersView"
               label="Add"
               menubarPath="com.qualityeclipse.favorites.membersViewPulldownSubMenu/content"
               style="push"
               toolbarPath="additions"
               tooltip="Add the selected items in the Members view to the Favorites view">
         </action>
         <menu
               id="com.qualityeclipse.favorites.membersViewPulldownSubMenu"
               label="Favorites"
               path="additions">
            <groupMarker
                  name="context">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
         </menu>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="com.qualityeclipse.favorites.compilationUnitEditorActions"
            targetID="org.eclipse.jdt.ui.CompilationUnitEditor">
         <menu
               id="com.qualityeclipse.favorites.compilationUnitEditorPopuSubMenu"
               label="Favorites"
               path="additions">
            <groupMarker
                  name="content">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
         </menu>
         <action
               class="com.qualityeclipse.favorites.actions.AddToFavoritesActionDelegate"
               definitionId="com.qualityeclipse.favorites.commands.addToFavoritesView"
               id="com.qualityeclipse.favorites.addToFavoritesInCompilationUnitEditor"
               label="Add"
               menubarPath="com.qualityeclipse.favorites.compilationUnitEditorPopuSubMenu/content"
               style="push"
               toolbarPath="Normal/additons"
               tooltip="Add the editor selection to the Favorites view">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Favorites Commands"
            id="com.qualityeclipse.favorites.commands"
            name="Favorites">
      </category>
      <command
            category="com.qualityeclipse.favorites.commands"
            description="Add the selection to the Favorites"
            id="com.qualityeclipse.favorites.commands.addToFavoritesView"
            name="Add to Favorites View">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.qualityeclipse.favorites.commands.addToFavoritesView"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Shift+A">
      </key>
   </extension>
   <!--<extension
         point="org.eclipse.ui.commands">
      <category
            description="Commands related to the Favorites View"
            id="com.qualityeclipse.favorites.commands.category"
            name="Favorites">
      </category>
      <command
            categoryId="com.qualityeclipse.favorites.commands.category"
            description="Open the Favorites view if it is not already visible"
            id="com.qualityeclipse.favorites.commands.openView"
            name="Open Favorites View">
      </command>
      <command
            categoryId="com.qualityeclipse.favorites.commands.category"
            description="Add selected items to the Favorites view"
            id="com.qualityeclipse.favorites.commands.add"
            name="Add">
      </command>
   </extension>-->
   <!--<extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="com.qualityeclipse.favorites.menus.favoritesMenu"
               label="Favorites"
               mnemonic="v">
            <command
                  commandId="com.qualityeclipse.favorites.commands.openView"
                  icon="icons/sample.gif"
                  id="com.qualityeclipse.favorites.menus.openFavoritesView"
                  mnemonic="O"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.qualityeclipse.favorites.toolbars.main">
            <command
                  commandId="com.qualityeclipse.favorites.commands.openView"
                  icon="icons/sample.gif"
                  id="com.qualityeclipse.favorites.toolbars.openFavoritesView"
                  style="push"
                  tooltip="Open the Favorites view">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               label="Favorites">
            <command
                  commandId="com.qualityeclipse.favorites.commands.add"
                  icon="icons/sample.gif"
                  id="com.qualityeclipse.favorites.commands.add"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <and>
                           <or>
                              <instanceof
                                    value="org.eclipse.core.resources.IResource">
                              </instanceof>
                              <instanceof
                                    value="org.eclipse.jdt.core.IJavaElement">
                              </instanceof></or>
                        </and>
                        <test
                              forcePluginActivation="true"
                              property="com.qualityeclipse.favorites.notFavorites">
                        </test>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.views.ProblemView?after=additions">
         <menu
               id="com.qualityeclipse.favorites.problem.pullDown.favoritesMenu"
               label="Favorites">
            <command
                  commandId="com.qualityeclipse.favorites.commands.openView"
                  icon="icons/sample.gif"
                  id="com.qualityeclipse.favorites.commands.problemView.pulldown.openView"
                  mnemonic="o"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.views.ProblemView?after=additions">
         <command
               commandId="com.qualityeclipse.favorites.commands.openView"
               icon="icons/sample.gif"
               id="com.qualityeclipse.favorites.commands.problemView.toolbar.openFavoritesView"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.views.ProblemView?after=additions">
         <menu
               label="Favorites">
            <command
                  commandId="com.qualityeclipse.favorites.commands.openView"
                  icon="icons/sample.gif"
                  id="com.qualityeclipse.favorites.commands.problemView.popup.openView"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:window?after=additions">
         <command
               commandId="com.qualityeclipse.favorites.commands.openView"
               icon="icons/sample.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.ui.DefaultTextEditor">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>-->
   <!--<extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.qualityeclipse.favorites.propertyTester.FavoritesTester"
            id="com.qualityeclipse.favorites.propertyTester"
            namespace="com.qualityeclipse.favorites"
            properties="isFavorite,notFavorite"
            type="java.lang.Object">
      </propertyTester>
   </extension>-->
   <!--<extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.qualityeclipse.favorites.handlers.OpenFavoritesViewHandler"
            commandId="com.qualityeclipse.favorites.commands.openView">
      </handler>
      <handler
            class="com.qualityeclipse.favorites.handlers.AddToFavoritesHandler"
            commandId="com.qualityeclipse.favorites.commands.add">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.qualityeclipse.favorites.commands.add"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Shift+A">
      </key>
   </extension>-->

</plugin>
